{% extends "admin/change_form.html" %}

{% block extrahead %}
{{ block.super }}
<style>
    .field-profile_picture img {
        max-width: 200px;
        max-height: 200px;
        margin-top: 10px;
    }
</style>
{% endblock %}

{% block field_sets %}
<fieldset class="module aligned">
    <div class="form-row field-profile_picture">
        <div>
            {% if original.profile_picture %}
                <img src="{{ original.profile_picture.url }}" alt="{{ original.name }}">
            {% else %}
                <p>{{ _('No profile picture available.') }}</p>
            {% endif %}
        </div>
    </div>
</fieldset>
{{ block.super }}
{% endblock %}
